
/* font */
@font-face{
    src: url(./fonts/inconsolta/Inconsolata-Regular.ttf);
    font-family: Inconsolata-Regular;
}
@font-face{
    src: url(./fonts/Ubuntu/Ubuntu-Light.ttf);
    font-family: Ubuntu-Light;
}
@font-face{
    src: url(./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
    font-family: PlayfairDisplay-Regular;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
}
/* header start */

header{
    padding: 20px 0px;
 
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    margin-top: 0.8%;
    width: 15%;
    float: left;

    
}
.logo a{
    display: block;

}
.logo a img{
    width: 100%;
}

.manu{
    width: 70%;
    float: right;
}
.manu ul{
    float: right;

}
.manu ul li{
    list-style: none;
    float: left;

}

.manu ul li a{
    padding: 0px 60px;
    font-family:PlayfairDisplay-Regular;
    font-size: 17px;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}

.manu ul li:last-child a{
    padding-right: 0;
}

/* header end */
/* banner start */
.banner{
  
}
.banner-img{
    width: 100%;
}
.banner img{
    width: 100%;
  
}
/* banner end */

/* content start */
.content{
    padding: 100px 0;

}
.s_content{
    margin: 0 auto;
    width: 84%;
}
.s_content h5{
    font-weight: 300;
    color: #CBC6BC;
    text-transform: uppercase;

}
.s_content h1{
    font-family: PlayfairDisplay-Regular;
    font-size: 35px;
    color: #626262;
    text-transform: inherit;

}
.s_content p{
    margin: 40px 0;
    font-family: PlayfairDisplay-Regular;
    font-size: 16px;
    color: #626262;
    word-spacing: 1px;
    line-height: 1.6;
    text-transform: inherit;
    
}

/* content end */
/* features start */
.features{
    box-sizing: border-box;

}
.f_service{
    margin: 0 auto;
    width: 84%;

}
.service{
    width: 47%;
    float: left;

    
}
.service1{
    width: 47%;
    float: right;

}
.service2{
    margin-top: 100px;
    width: 47%;
    float: right;

}
.service3{
    
    margin-top: 100px;
    width: 47%;
    float: left;

}
.s_serimg{
    width: 100%;

}
.s_serimg img{
    width: 100%;

}

.s_serimg h5{
    margin: 20px 0;
    color: #CBC6BC;
    text-transform: uppercase;

}
.s_serimg h1{
    font-size: 30px;
    color: #626262;
    text-transform: inherit;

}
.s_serimg p{
    line-height: 1.6;
    color: #626262;
    
    text-transform: inherit;

}
/* features end */

/* sign up start */
.sign_up{
    padding: 100px 0;
    background-color: #F0F0F0;

}
.newsletter{
    margin: 0 auto;
    width: 50%;


}

.newsletter h1{
    font-size: 35px;
    text-align: center;
}
input {
    padding: 12px 0;
    width: 60%;
    float: left;
    font-size: 15px;
    border-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: #212121;
    background-color: #F0F0F0;
    display: inline-block;
  }

  .no-outline:focus {
    outline: none;
  }
.nesws{
    width: 92%;
    margin-left: 92px;
    overflow: hidden;
}
.nesws  a {
    display: block;
    width: 40%;
    float: right;
    margin-top: 10px;
}
.nesws  a img{
     padding-bottom: 3.3%;
     margin-top: -0.4%;
     float: left;
     border-style: hidden;
     border-bottom-width: 2px;
     border-bottom-style: groove;
     border-bottom-color: #212121;
}

/* sign up end */

/* load more start */
.service4{
    
    margin-top: 100px;
    width: 47%;
    float: left;

}
.service5{
    
    margin-top: 100px;
    width: 47%;
    float: right;

}
/* load more end */

/* load button start */

.load_button{

}
.l_bttn{
    padding: 100px 0;
    margin: 0 auto;
    width: 30%;
    text-align: center;
}
.l_bttn a{
    display: block;
    text-decoration: none;
}
.l_bttn a button{
    padding: 15px 25px;
    font-size: 19px;
    font-family: PlayfairDisplay-Regular;
    background-color: white;
    border: 2px solid;
    cursor: pointer;
}

/* load button end */

/* footer start */
footer{
    padding: 40px 0;
   
    background-color: #F0F0F0;

}
.foot1{
    width: 30%;
    float: left;
    margin-left: 100px;

}
.foot1 a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
}
.foot2{
    width: 20%;
    float: right;
}
.foot2 a{
    margin: 10px;
    color: #212121;
    text-decoration: none;
}
/* footer end */
 